.icon {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 14%;
    margin-bottom: 8px;
}

.icon-wrapper:hover {
    background-color: #1e80ff;
    color: #fff;
}

.icon-wrapper-name {
    margin-top: 8px;
    font-size: 12px;
}

.icon-style {
    font-size: 32px;
}

.icon-cls {
    font-size: 48px;
    color: #1e80ff;
}
